{% load static %}
<link rel="stylesheet" href="{% static 'music_app/static/css/style.css' %}">
<div class="form_search">
    <form>
        <input type="text" placeholder="Искать здесь...">
        <button type="submit"></button>
    </form>
</div>

{% for song in songs %}
<div>
    <h2>{{ song.title }}</h2>
    <p>{{ song.artist }}</p>
    <p>{{ song.year }}</p>
    <audio controls>
        <source src="{{ song.demo_url }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    {% if song.is_purchased %}
        <a href="{% url 'song_detail' song_id=song.id %}">Полная версия</a>
    {% else %}
        <a href="{% url 'purchase_song' song_id=song.id %}">Купить</a>
    {% endif %}
    <hr>
    {% endfor %}
</div>
